
[user]
email = {{ .gh_email | quote }}
name = Russell Seymour
signingkey = A6E9C075A5A9348B

[commit]
gpgsign = true
template = ~/.gitmessage

{{ if eq .chezmoi.os "windows" }}

[gpg]
program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
{{ end }}

{{ if eq .chezmoi.os "linux" }}

[gpg]
{{    if stat ("/usr/local/bin/gpg") -}}
        program = /usr/local/bin/gpg
{{    else if stat ("$HOME/.local/bin/gpg" | expandenv) -}}
        program = {{ "$HOME/.local/bin/gpg" | expandenv }}
{{    else -}}
        program = gpg
{{    end -}}
{{ end }}

{{ if eq .chezmoi.os "darwin" -}}
[gpg]
{{ if stat ("/usr/local/bin/gpg") -}}
        program = /usr/local/bin/gpg
{{ end -}}
{{ end }}

[init]
defaultBranch = main
