{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Install homebrew on a Mac
OS=`uname`
if [ ! -f /opt/homebrew/bin/brew ] && [ "${OS}" == "Darwin" ]; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{ end }}
