{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Ensure that brew is in the path
export PATH="/opt/homebrew/bin:$PATH"

echo "Installing packages"

brew install --cask obs
brew install --cask firefox
brew install --cask visual-studio-code
brew install oh-my-posh
brew install neovim
brew install --cask ghostty
brew install --cask font-meslo-lg-nerd-font
brew install --cask gitkraken
brew install --cask elgato-stream-deck
brew install --cask 1password
brew install --cask seafile-client
brew install --cask vlc
brew install gpg-suite
brew install pinentry-mac

{{ end }}
